/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #B2B8A3;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 16px 8px 16px 8px;
   gap: 15px;
   background-color: #789369;
}
.menu__header{
    display: inline-flex;
    gap: 5px;
}
.menu__list{
    display: none;
}
.menu__list__item:hover{
    transition: 0.3s;
    transform: scale(1.2);
    cursor: pointer;
}
.menu__list__item__contato{
    font-weight: bold;
}
/*Sección Title*/
section.title{
    background-color: #789369;
}
.about__container img{
    background-color: #000;

}
section.title{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    
}
.title__profile{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid transparent;
    box-shadow: #B2B8A3 6px 0px 0px 10px;
}
.title__container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size:  13px;
    padding-top: 15px;
}
/*.title__bio{
    gap: 10px;
}*/
.title__subsection{
    font-weight: normal;
}
.title__network{
    display: flex;
    gap: 32px;
}

/*Sección About*/

section.about{
    display: flex;
    padding: 32px;
    background-color: #B2B8A3;
}
.about__container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-style: solid 2px;
    background-color: #c1d2b8;
}
.about__container img{
    width: 180px;
}
/*Seccion Soft Skills*/
section.soft-skills{
    display: flex;
    flex-direction: column;
    padding: 32px;

}
.soft-skills__title{
    text-align: center;
    font-size:  17px;
    font-weight: bold;
}
.soft-skills__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 30px;
    border-style: solid 2px;
    
}
.soft-skills__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background-color: rgb(249, 240, 227);
    border: 1px solid #789369;
    height: 60px;
    width: 250px;
    box-shadow: 0 8px 8px #789369;
    border-style: none;
}
.soft-skills__name{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    
}


/*Sección skills fuertes*/
section.skills{
    display: flex;
    flex-direction: column;
}
.skills__title{
    padding: 20px;
    text-align: center;
}
.skills__line{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}
.skills__box{
    border-style: none;
    border-width: 1px;
    border-color: #789369;
    background-color: white;
    padding:32px;
    width: 40%;
    box-shadow: 0 8px 8px #789369;
}
.skills__name{
    text-align: start;
    padding-top: 10px;
}
section.hobbies{
    display: flex;
    flex-direction: column; 
}
.hobbies__title{
    text-align: center;
    padding: 20px;
}
.hobbies__line{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}
.hobbies__box{
    text-align: center;
    border-style: none;
    border-width: 1px;
    border-color: #789369;
    background-color:white;
    padding: 32px;
    width: 40%;
    box-shadow: 0 8px 8px #789369;
    
}
.hobbies__name{
    text-align: center;
    padding-top: 10px;
}
/* Experiencia Académica*/

section.academic{
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color:#dfd4c8;
    margin: 5px 0 5px 0;
}
.academic__title{
    text-align: center;
    padding: 20px;
}
.academic__courses{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.academic__courses__box{
    display: flex;
    justify-content: space-between;
}
.academic__courses__list{
    width: 100%;
}

.academic__courses__item__img{
   text-align: center; 
   border-style: solid;
    border-width: 1px;
    border-color: #F5F5F5;
    background-color: white; 
    height: 120px; 
}
.academic__courses__item__title{
    margin:5px 0 5px 0;
}
/* experiencia*/
.experience__section__title{
    text-align: center;
    padding-top: 30px;
}
.experience__box{
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap:20px;
     padding: 20px;
}
.experience__img{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}
.experience__title{
    font-weight: bold;
    font-size: 20px;
}
.experience__text{
    font-weight: normal;
    margin: 5px 0 5px 0;
}
.experience__info-container{
    gap:5px;
}
.experience__description{
    display: flex;
    gap: 20px;
    padding-top: 10px;
}
.experiencia__botao--repo, .experience__botao--demo{
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 20px;
}
.experiencia__botao--repo{
    border-color: #789369;
    color: #789369;
    background-color: white;
    border-radius: 20px;
    border: 3px solid #789369;
}
.experiencia__botao--repo:hover{
    transition: 2s;
    transform: scale(1.1);
}
.experience__botao--demo{ 
    height: 48px;
    width: 150px;
    border-color:  #789369;
    background-color: #789369;
    color:#f8f6f6;
    border: 1px solid #789369;
    border-radius: 20px;
    
}
.experience__botao--demo:hover{
    transition: 2s;
    transform: scale(1.1);
    border-style: solid;
}
/*Contacto*/


.formcontato__img{
    display: none;
}
.formcontato__text{
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 15px; 
   margin: 20px 8px;
   box-shadow: 0 0 1rem 0 rgba(0,0,0, .2);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    background-color: #ded9d6;
    transition: .4s all ease-in-out;
}
.formcontato__title{
    font-size: 30px;
    padding-bottom: 15px;
}
.formcontato__subtext{
    font-size: 18px;
    font-weight: normal;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
    padding-top: 15px;
}
.formcontato__input{
    border: 1px solid #000;
    height: 30px;
    padding-left: 5px;
    border-radius: 8px;
}
.formcontato__textarea{
    border: 1px solid #000;
    resize: none;
    padding-left: 5px;
    border-radius: 8px;
}
.formcontato__input:hover, .formcontato__textarea:hover {
    border-bottom: 2px solid;
}

.formcontato__botao{
    font-size: 20px;
    width: 40%;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 20px;
    border-color:  rgb(21, 100, 65);
    background-color: #789369;
    color:#f8f6f6;
    border: 1px solid #789369;
    border-radius: 20px;
}
.formcontato__botao:hover{
    transition: 2s;
    transform: scale(1.1);
    border-style: solid;
}
/*footeer*/

section.footer{
   text-align: center;
   font-size:18px;
   background-color:#789369;
   color: white;
   padding: 20px;
   height: 70px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */
/*Tablet*/
@media (min-width:768px ) {


/*title*/
section.title{
    display:flex;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    padding: 32px;
    align-items: center;
    gap: 32px;
}

/*Skills*/
.skills__line{
    gap: 20px;
}
.skills__box{
    width: 40%;
}
/*Hobbies*/
.hobbies__line{
    gap: 20px;
}
.hobbies__box{
    width: 30%;

}
/*Formación Académica*/
.academic__courses__box{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.formcontato__contacto{
    padding: 20px;
}
.formcontato__input{
    padding: 8px;
    height: 40px;
}
.formcontato__textarea{
    padding: 8px;
    height: 100px;
}
.formcontato__botao{
    height: 60px;
    width: 25%;
}
}


/*destok*/
@media (min-width: 1440px) {
/*Menu*/
section.menu{
    display: flex;
    justify-content: space-around;
}
.menu__list{
    display: flex;
    gap: 20px;
    font-size: 14px;
}
.menu__list__item:nth-child(6){
    font-weight: bold;
}
.menu__list__item__contato{
    display: none;
}
/*Titulo*/

.title__div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    
}

.title__profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.title__container{
    display: flex;
    gap: 40px;
}
.title__bio{
    font-size: 40px;
}
.title__subsection{
    font-size: 25px;
    font-weight: normal;
}
.title__network{
    font-size:15px;
    gap: 40px
}

/*Sección sobre mi*/
section.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__title{
    font-size: 35px;
}
.about__container{
    display: flex;
    justify-content: center;
    width: 85%;
    font-size: 20px;
}
.soft-skills__title{
    font-size: 30px;
}
/*Skills*/
.skills__title{
    font-size: 30px;
}
.skills__line{
    gap: 20px;
}
.skills__box{
    width: 12%;
}
/*Hobbies*/
.hobbies__title{
    font-size: 30px;
}
.hobbies__line{
    gap: 20px;
}
.hobbies__box{
    width: 12%;
}
/*Formación Académica*/
section.academic{
    display:flex;
}
.academic__title{
    font-size: 30px;
}
.academic__courses__box{
    display: flex;
    justify-content: space-between;
}

.academic__courses__item__title{
    margin-top: 8px;
}
/*Experiencia Profesional*/

.experience__box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.experience__img{
    width: 60%;
}
.experience__section__title{
    text-align: center;
    font-size: 30px;
}
.experience__info-container{
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.experiencia__botao--repo, .experience__botao--demo{
   font-size: 28px;
}
.experience__botao--demo{
    height: 60px;
    width: 200px;
}
 /*Contacto*/
 
 .formcontato__contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 15px;
 }
 .formcontato--esquerda img{
    width: 100%;
 }
 .formcontato__img{
    display: flex;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(15, 15, 15);
    border-width: 3px;
    transform: scaleX(-1);
    filter: hue-rotate(180deg);
 }
 .formcontato__title{
    padding-bottom: 20px;
 }
 .formcontato__text{
    gap: 5px;
    box-shadow: 0 0 1rem 0 rgba(0,0,0, .2);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    transition: .4s all ease-in-out;
 }

.formcontato__form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.formcontato__input{
    padding: 8px;
    height: 50px;
    background-color: #f3f8e6;
}
.formcontato__textarea{
    padding: 8px;
    height: 110px;
    background-color: #f3f8e6;
}
.formcontato__botao{
    height: 60px;
}
}